*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*main section */

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.main-link{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
 
}

.main-info{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.main-link a{
  margin: 10px;
  color:black;
  text-decoration: none;
  cursor: pointer;
}



/* header section*/